.header a, a:hover { 		/*стиль для шапки меню текста - ссылки, псевдокласс, hover - стиль при наведении*/
	text-decoration: none; 	/*убрать все оформления текста(подчеркивания)*/
	color: #f0ad4e;			/*цвет текста*/
}

.header h1 {				/*стиль для текста заголовка*/
	letter-spacing: 15px;	/*межстрочный интервал*/
	font-size: 300%;		/*шрифт*/
}

.header p {					/*стиль для текста подзаголовка*/
	color: white !important;/*цвет текста, а также задает текущий стиль приоритетным при конфликтной ситуации*/
	font-size: 90%;			/*размер шрифта*/
	letter-spacing: 3px;	/*межстрочный интервал*/
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover { /*стили для меню - подсвечивание при наведении курсора мышки, при активном элементе меню*/
    color: #fff;				/*цвет текста*/
    background-color: #346270;	/*цвет фона*/
}

.nav-pills>li>a {				/*стили для ссылок меню - надписи на кнопках меню - ссылки*/
	color: #fff;				/*цвет текста*/
}

.nav-pills>li>a:hover {			/*подцветка ссылок при наведении*/
	background-color: #346270;
}

.navbar-inverse {				/*стиль для меню ссылок*/
	padding: 1%;				/*внутренние отступы по всем краям*/
	border-radius: 0;
}

@media (max-width: 767px) {		/*адаптация для мобильных устройств с максимальным разрешением 767px*/
	
	.nav-pills>li {				/*стили для элементов меню*/
		float: none;			/*убрать все выравнивания элементов меню (в данном случае убираем выравнивание по левому краю и элемент выводится как обычно)*/
	}

	.nav-pills {				/*стили для всего меню*/
		text-align: center;		/*позиционирование текста по центру*/
	}
	
	.header h1 {				/*стиль для заголовка в блоке header*/
		letter-spacing: 5px;	/*межстрочный интервал - меньше*/
		font-size: 280%;		/*размер шрифта*/
	}

	.header {					/*стиль для всего блока header*/
		text-align: center;		/*позиционирование по центру*/
	}
}

.clear {						/*стили для обтекания текста элемента*/
	clear: both;				/*отменяет обтекание текста элемента со всех сторон*/
	height: 63px;				/*высота*/
}

/*.wrapper {					/*стиль для основного блока контента сайта*/
	min-height: 100%;			/*минимальная высота блока - для того чтобы прижать блок footer к нижнему краю*/
}

html, body {					/*стиль для всего документа и тела сайта*/
	height: 100%;
}

.films_block {					/*стили для блока с фильмами*/
	text-align: center;			/*расположение текста - названия фильма по центру*/
}

.films_block img {				/*стиль для картинок блока с фильмами*/
	margin-bottom: 5%;			/*нижний отступ 5%*/
	border-radius: 5px;			/*создать рамку*/
	border: solid 5px #dad7d5;	/*толщина рамки и цвет*/
	width: 100%;				/*ширина картинки*/
}

.film_label {					/*стиль для текста в блоке с фильмами*/
	padding: 2%;				/*внутренний отступ*/
	margin-bottom: 4%;			/*нижний отступ*/
}

.margin-8 {						
	margin-top: 8%;				/*верхний отступ */
}

.panel	{						/*стиль для класса bootstrap - panel*/
	border: none;				/*убрать все рамки*/
}

.panel-body {					/*стиль для класса bootstrap - panel-body - блок на котором находися контент данной формы*/
	background-color: #f9f9f9;	/*изменить цвет фона*/
}

.panel-info>.panel-heading {	/*стиль для класса bootstrap - panel-heading (блог где находится заголовок формы)*/
	background-color: #f0ad4e;	/*цвет фона*/
	color: white;				/*цвет текста*/
	border-color: transparent;	/*цвет рамки прозрачный*/
}

.sidebar-header {				/*стили для блока текста Заголовка*/
	font-size: 120%;			/*размер шрифта*/
	letter-spacing: 2px;		/*межстрочный отступ*/
}

.form-control {					/*стиль для формы ввода bootstrap, input*/
	border-radius: 0px;			/*размер радиуса рамки*/
}

.input-lg {						/*стиль Bootstrap для определения размера элемента*/
	font-size: 14px;			/*размер шрифта для текста внутри формы*/
}

.list-group-item-warning {		/*стиль для элемента списка а также для стиля warning - классы BootStrap*/
	color: #8a6d3b;				/*цвет*/
	background-color: #f9f9f9; 	/*цвет фона*/
}

.badge {						/*стиль для значка BootStrap*/
	background-color: #000000;	/*цвет фона значка*/
}

.info-block {					/*стиль для описания хар-к фильма на странице show.html*/
	font-size: 120%;			
}

.info-block .badge {			/*стиль для значка находящийся в блоке info-block*/
    font-size: 80%;
}

.info-block span {				/*стиль применимый для значка и текста внутри блока info-block чтобы сделать отступ от внешнего блока с правой стороны*/
	margin-right: 3%;			
}

textarea.form-control {			/*стиль для ввода длинного текста на страницах show.html и contact.html*/
    height: 200px;				/*высота формы*/
}

.table tbody>tr>td.vert-align {	/*стиль для ячеек таблиц. Таблица - тело таблицы - строка - данные таблицы - класс vert-align*/
	vertical-align: middle;		/*вертикальное выравнивание - среднее*/
}


footer {						/*стиль для нижнего блока экрана*/
	color: #666;				/*цвет*/
	background: #222;			/*цвет фона*/
	padding: 17px 0 18px 0;		/*внутренний верхний и нижний отступ */
	border-top: 1px solid #000; /*верхняя граница*/
}

footer a {						/*стиль ссылки в нижнем блоке*/
	color: #999;				/*цвет ссылки*/
}

footer a:hover {				/*стиль подсвечивания ссылки*/
	color: #efefef;				/*цвет*/
}